:root{
    --color-white:#f1f1f1;
    --color-black:#1b1a1a;
    --color-principal:#9c1515;
    --color-secundario:#3044f5;
    --color-shadow:#050505;
}

body {
    background-image: radial-gradient(var(--color-secundario) 0%, #000000);
    background-repeat: no-repeat;
}

.blue-shadow{
    box-shadow: 0 0 15px var(--color-shadow);
}

.main {
    height: 100vh;
}

.hud{
    margin: 10px;
    display: flex;
}

.box-placar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.computer,.player{
    width: 10rem;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    z-index: 1;
}

.computer{
    border-radius: 0 10% 0 10%;
}

.player {
    border-radius: 10% 0 10% 0;
}

.placar {
    margin: 5px 0;
    color: #9fa8ff;
    text-shadow: 1px 1px #000;
}

#point-computer,
#point-player{
    color: var(--color-white);
    text-shadow: 1px 1px #000;
}

.turn,.clock{
    color: var(--color-white);
    line-height: 2rem;
    text-shadow: 2px 2px #000;
    font-size: 10px;
}

.box-turn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle {
    height: 65vh;
    position: relative;
    z-index: -1;
}

.battle {
    height: 64vh;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(180deg, var(--color-black), #303135, var(--color-black));
    border-radius: 15px;
}

.camp-computer,.camp-player{
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.magic{
    margin: 5px 0;
}

.cemetery {
    margin: 0 0 0 15px;
}

.hand-player {
    padding: 10px;
    background-color: var(--color-principal);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.hand-card{
    width: 74vw;
}

.card {
    width: 40px;
    margin: 0 2px;
}

.cheap{
    margin: 0 0 0 15px;
}

.nav{
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 1rem;
    font-size: 10px;
    border-radius: 5px;
}

 @media(min-width:650px){
    .main{
        margin: auto;
        max-width: 180px;
        display: flex;
        justify-content: space-around;
    }

    .group,.middle,.hand-player{
        max-width: 737px;
    }

    .computer,.player{
        width: 9.9rem;
    }

    .group{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 10px 0;
    }

    .middle{
        width: 65vw;
        height: 65vh;
    }

    .battle{
        height: 68vh;
    }

    .box-placar{
        width: 14vw;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .placar,#point-computer,#point-player{
        font-size: 9px;
    }

    .turn,.clock{
        font-size: 10px;
    }

    .card {
        width: 50px;
    }

    .hand-player{
        width: 65vw;
    }

    .hand-card{
        width: 50vw;
    }


    .nav{
        padding: 21px 5px;
    }

    nav{
        writing-mode: vertical-lr;
    }

    button{
        white-space: nowrap;
        transform: rotate(-90deg);
        font-size: 20px;
    }
} 


@media(min-width:950px){
    .battle{
        height: 68vh;
    }

    .computer,.player{
        width: 15rem;
    }

    .placar,#point-computer,#point-player{
        font-size: 10px;
        line-height: 2rem;
    }

    .turn,.clock{
        font-size: 12px;
        line-height: 2rem;
    }

    .card {
        width: 54px;
    }

    button{
        font-size: 20px;
    }
}

 @media(min-width:1280px){
    .card{
        width: 70px;
    }
} 
 @media(min-width:1600px){
    .card{
        width: 90px;
    }

    .turn,.clock{
        font-size: 18px;
        line-height: 3rem;
    }
} 

@media(min-width:1920px){
    .card{
        width: 100px;
    }
}